name: IIB-ACE
 
on:
  push:
    branches: [ "main" ]
 
  workflow_dispatch:
 
jobs:
  build:
    runs-on: self-hosted
 
    steps:
      - uses: actions/checkout@v4
 
      - name: Run mqsiprofile command
        run: |
          echo "Running IIB commands..."
          . /opt/ibm/mqsi/iib-10.0.0.7/server/bin/mqsiprofile; mqsilist

      # - name: Run mqsilist command
      #   run: |
      #     mqsilist Demo_INODE1
      #     env:
      #       IIB_HOME: /opt/ibm/mqsi/iib-10.0.0.7/server/bin/
        
